
/* Colors
#586f7c PAYNE'S GREY
#b8dbd9 light blue
#04724d bottle green

#f4f4f9 white
#30303a black
*/

body{
    background-color: #f4f4f9;
    color: #30303a;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

a:link {color:currentColor;}
a:visited {color:currentColor;} /* Visited link color */

.portfolio-container{
    height: 100%;
    text-align: center;
}



.content-wrapper{
    width:1280px;
    padding: 40px;
    box-sizing: border-box;
    max-width:100%;
    overflow: hidden;
    margin: 240px auto 0;
}
.hero{
    height: 100%;
    position: relative;
    z-index: 20;
    margin-top: 0;
    padding-top:5vh;
    min-height:575px;
}

.headings{
    z-index: 20;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.subheading{
    font-family: "Helvetica";
    font-size: 18px;
    position: absolute;
    padding: 0 20px;
    top: 34.5%;
    left: 0;
    right: 0;
    letter-spacing: 5px;
}

.heading{
    font-size:30px;
    position: absolute;
    padding: 0 20px;
    top: 38.5%;
    left: 0;
    right: 0;
}

.grid-items{
    display: flex;
    flex-flow: row wrap; 
}

.projects{
    margin-top: -180px;
}


.section-title{
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    position: relative;
    flex: 1 100%;
    font-size: 10vw;
    z-index: 10;
    text-align: left;
}




.grid-item{
    flex: 1 50%;
min-height:600px;
text-align: center;
width: 100%;
box-sizing: border-box;
padding: 0 50px 40px;
overflow: hidden;
justify-content: center;
position: relative;
}

.grid-item-wide{
    flex: 1 100%;
    position: relative;
    min-height: 575px;
}

.grid-item-wide p{
    max-width: 50%;
}
.grid-item:nth-child(n+2){   
    position: relative;
}

/* project images ************************************/

.things2Do .grid-item-bg{
background-image: url("../images/things2Do.jpeg");
}
.things2Do{
    color: #f4f4f9
}
.giffle .grid-item-bg{
    background-color: #586f7c ;
}
.giffle{
    color: #f4f4f9;
}

.jeopardy .grid-item-bg{
    background-color: #b8dbd9;
}
.jeopardy{
    color: #30303a;
}

.crystalCollector .grid-item-bg{
    background-image: url("../images/crystalCollector.jpeg")
}
.crystalCollector{
    color: #30303a;
}

.trainScheduler .grid-item-bg{
    background-image: url("../images/trainScheduler.jpeg")
}
.trainScheduler {
    color: #f4f4f9;
}

.wordGuess .grid-item-bg{
    background-image: url("../images/wordGuess.jpg")
}
.wordGuess {
    color: #30303a;
}
/* work images ************************************/

.td .grid-item-bg{
    background-image: url("../images/td.jpg");
    }
    .td{
        color: #f4f4f9;
    }

.appvine{
    background-color: #04724d;
}
.appvine{
    color: #f4f4f9;
}

.presto .grid-item-bg{
    background-image: url("../images/presto.jpg");
    
}

.presto{
    color: #f4f4f9;
}
/* contact images ************************************/

.contact-card .grid-item-bg{
    background-color:#586f7c;
}
.contact-card{
    color: #f4f4f9;
}

.contact-img .grid-item-bg{
    background-image: url("../images/marc.jpg");
}
/************************************/

.grid-item-bg{
width: 100%;
height: 100%;
position: absolute;
z-index: -1;
background-position: center center; 
background-size: cover;
overflow: hidden;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

.grid-item-header{
    font-family: Garamond, serif;
    font-size: 56px;
    font-weight: 100;
    position: relative;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.grid-item-divider{
    display: block;
    position: relative;
    height: 3px;
    width: 60px;
    background-color: currentColor;
    right: 0px;
    margin: 70px auto 10px;
    z-index: 10;
}

.grid-item-text{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    max-width: 80%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.9em;
    position: relative;
    padding-top: 2em;
}

.grid-item-link{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
}



.contact-links{
    padding-top: 30px;
    font-size: 30px;
}
.fab{
    padding: 8px;
}

.contact-card .grid-item-header{
    padding-top: 150px;
    font-size: 30px;
    color: currentColor;
}


/* mobile */
@media only screen and (max-width: 600px){
    .content-wrapper{
        padding-left: 0px;
        padding-right: 0px;
    }
    .grid-item{
        flex: 1 100%;
        min-height: 575px;     
    }
    .grid-item-wide p{
        max-width: 80%;
    }
    .section-title{
        font-size: 25vw;
    }
}

/* medium screens */
@media only screen and (min-width: 768px){
    .content-wrapper{
        padding-left: 120px;
        padding-right: 120px;
    }
   

}
