body{
    background-color: aqua;
}

.grid-item{
    text-align: center;
    
}

.grid-item:nth-child(n+2){
    border: 1px solid red;
    position: relative;
}

.project1 .grid-item-bg{
background-image: url("../images/placeimg1.jpg");
}


.grid-item-bg{
width: 100%;
height: 400px;
position: absolute;
z-index: -1;
}

.grid-item-text{
    max-width: 80%;
}


@media only screen and (min-width: 768px){
    .grid-item{
        text-align: center;
        max-width: 50%;      
    }
}
